body {
    background-color: rgb(255, 255, 255);

}

img{
    width: 15em;
    height: 10em;
    position: relative;
    border-radius: 10%;
    border: 8px solid rgba(195, 201, 195, 0.26);
    border-bottom-style: outset;
    border-width: 10px;
    text-align: center;
    margin: 20px 90px;
    
    

}

.Shauri{
    color: rgb(136, 136, 145);
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 15px;
    margin: 30px;
    padding: 20px;
    border-bottom: 3px double;
    box-shadow: 0 0 5px #0a0a0a,
            0 0 25px #d4d1cc,
            0 0 50px #ebe6e0,
            0 0 200px #000000;
  

}
a{
    color: rgb(211, 179, 65);
}
a:hover{
    transition:  1s;
    color: rgb(245, 203, 18);
    
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(156, 7, 7, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 1s;
    transition-property: transform;
    color: rgb(206, 204, 197);
  text-shadow:
      0 0 7px rgb(212, 196, 196),
      0 0 10px rgb(230, 223, 224),
      0 0 21px rgb(214, 135, 61),
      0 0 42px rgb(216, 211, 211),
      0 0 82px rgb(216, 205, 192),
      0 0 92px rgb(221, 216, 205),
      0 0 102px rgb(223, 216, 202),
      0 0 151px rgb(235, 230, 224);

}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


h1{
    color: rgb(236, 245, 184);
    text-align: center;
    border-bottom: 3px solid rgb(94, 94, 112);
    padding: 10px;
    border-radius: 4px;
    margin: 30px;
    font-style: italic;
    

}

.pasje {
    height: 150vh;
    width: 60vh;
    background: linear-gradient(0deg, rgba(99, 103, 104, 0.288) 40%, #14120b 100%);
    margin: 90px 130px;
    box-shadow: 0 10px 32px 0 rgba(11, 33, 179, 0.5);
    border-radius: 10px;
    border-bottom: 3px solid;
    border-bottom-style: outset;
    border-top-style: outset;
    border-left-style: outset;
    border-right-style: outset;
    border-top-color: rgb(87, 84, 80);
    border-left-color: rgb(87, 84, 80);
    
    border-width: 10px;
    text-align: center;
}

button {
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

p{
 text-align: center;
 font-style: bold;
 font-weight: bold;
 color: rgb(152, 152, 179);
 
}

article{
    color: rgb(88, 82, 57);

}
body.expand {
    font-size:1.15em;
  }
  body.expand article {
    width:60vw;
    max-width: 60vw;
  }
  body.expand button svg:first-of-type {
    opacity:0;
    transition-delay: 0;
  }
  body.expand button svg:nth-of-type(2) {
    opacity:1;
    transition-delay:.25s;
  }
  body.expand dd {
    font-size: 1.75em;
  }
  body.expand img {
    width:15em;
  }
